alembic==1.15.2
# altgraph==0.17.4
# asgiref==3.8.1
blinker==1.9.0
build==0.7.0
click==8.1.8
# contourpy==1.2.1
# cycler==0.12.1
# Django==5.0.3
Faker==25.0.0
Flask==3.1.0
flask-cors==5.0.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
# fonttools==4.51.0
# future==1.0.0
greenlet==3.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
# kiwisolver==1.4.5
# macholib==1.16.3
Mako==1.3.10
MarkupSafe==3.0.2
# matplotlib==3.8.4
# Nuitka==1.4.8
# numexpr==2.10.0
# numpy==1.26.4
# packaging==24.0
# pandas==2.2.2
# pandastable==0.13.1
# pep517==0.13.1
# pillow==10.3.0
# PyInstaller==3.6
# PyOpenGL==3.1.7
# pyparsing==3.1.2
# python-dateutil==2.9.0.post0
python-dotenv==1.1.0
# pytz==2024.1
# six==1.16.0
SQLAlchemy==2.0.40
# sqlparse==0.4.4
# tomli==2.0.1
typing_extensions==4.13.2
# tzdata==2024.1
Werkzeug==3.1.3
# xlrd==2.0.1
