{% extends 'base.html' %}
{% block content %}
<div>
  <div>
    <div>
      <span>Nombre : </span>
      <span>{{data['name']}}</span>
    </div>
    <div>
      <span>CI : </span>
      <span>{{data['ci']}}</span>
    </div>
  </div>
<div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
  <!-- left -->
  <div class=" p-4 m-4 border-hidden drop-shadow-lg rounded-md border-2">
    
    <!-- table -->
    <div>
      <div class="flex justify-center pb-5 pt-5">
        <h1 class="text-2xl">Deudas</h1>
      </div>
      
      <table id="usersTable" class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="mb-4">
              <th scope="col" class="px-6 py-3">
                Id.
              </th>
              <th scope="col" class="px-6 py-3">
                Fecha de Registro
              </th>
              <th scope="col" class="px-6 py-3">
                Motivo
              </th>
              <th scope="col" class="px-6 py-3">
                Detalle
              </th>
              <th scope="col" class="px-6 py-3">
                Monto
              </th>
              <th scope="col" class="px-6 py-3">
                Select.
              </th>
            </tr>
        </thead>
        <tbody id="usersTableBody" class="bg-grey-light items-center justify-between overflow-y-scroll" style="height: 50vh;">
          {% for item in data['debts'] %}
            <tr class="mb-4 odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{item['id']}}
              </th>
              <td class="px-6 py-4">
                {{item['date']}}
              </td>
              <td class="px-6 py-4">
                {{item['reason']}}
              </td>
              <td class="px-6 py-4">
                {{item['detail']}}
              </td>
              <td class="px-6 py-4">
                {{item['amount']}}
              </td>
              <td class="px-6 py-4">
                <input type="checkbox"/>
              </td>
            </tr> 
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flex justify-center pb-5 pt-5">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cargar Elemento(s)</button>
    </div>
  </div>
  <!-- right -->
  <div class=" p-4 m-4 border-hidden drop-shadow-lg rounded-md border-2">
    <div>
      <div class="flex justify-center pb-5 pt-5">
        <h1 class="text-2xl">Recibo</h1>
      </div>
      <table id="usersTable" class="text-sm text-left text-gray-500 dark:text-gray-400 w-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr class="mb-4">
              <th scope="col" class="px-6 py-3">
                Num.
              </th>
              <th scope="col" class="px-6 py-3">
                Detalle
              </th>
              <th scope="col" class="px-6 py-3">
                Monto
              </th>
            </tr>
        </thead>
        <tbody id="usersTableBody" class="bg-grey-light items-center overflow-y-scroll" style="height: 50vh;">
          
        </tbody>
      </table>
      <div>
        <span>Total : </span>
        <span>0</span>
      </div>
      <div>
        <span>Son: Cero Bolivianos</span>
      </div>
      <div class="flex justify-center pb-5 pt-5">
        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Realizar Cobro</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}