<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% if title %}
        <title>App - {{title}}</title>
    {%else%}
        <title>App</title>
    {%endif%}
</head>
<body class="max-h-full">
    <div class="">
        <nav class="flex place-items-center shadow-md bg-slate-300 h-20">        
            <ul class="grow">
                <li class="inline ml-10">
                    <a class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        OTB Miraflores
                    </a>
                </li>
                <li class="inline ml-10"><a href="{{ url_for('meetings.index') }}">Reuniones</a></li>
                <li class="inline ml-10"><a href="{{ url_for('attendance.index') }}">Asistencia</a></li>
                <li class="inline ml-10"><a href="#">Vecinos</a></li>
                {% if is_admin %}
                    <li class="inline ml-10"><a href="{{ url_for('users.index') }}">Usuarios</a></li>
                {% endif%}
                <li class="inline ml-10"><a href="{{ url_for('collections.index') }}">Cobros</a></li>
                <li class="inline ml-10"><a href="#">Reportes</a></li>
                <li class="inline ml-10"><a href="#">Lecturación</a></li>
                <li class="inline ml-10"><a href="#">Egresos</a></li>
            </ul>
            <div class="p-5">
                <a href="{{ url_for('main.log_out') }}"">Cerrar Sesión</a>
            </div>
        </nav>
        <div style="height: 100%;">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% block javascript %}
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    {% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.5/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.5/datatables.min.js"></script>
</body>
<footer class="container fixed-bottom bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" >
      © 2024 Copyright:
      <a class="text-body" href="https://github.com/srodrigo23">Sergio Rodrigo</a>
    </div>
</footer>
</html>